.red, .black{
  height: 65px;
  flex-shrink:0;
  /* max-height:  50px; */
  width: 65px;
  /* max-width: 75px; */
  border-radius: 50%;
  margin-top: 6px;
 
  pointer-events: none;
 z-index: -1;
  position: relative;
  animation: slide .63s ease-out;

}

.red{
  background-color: red;
}
.black{
  background-color: black;
}

.flexWrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.colWrap{
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 425px;
  max-height: 440px;
  width: 500px;
  border: solid black 4px;
  background-image: url('grid.png');
  background-size:cover;
}
.colFlex{
  margin: 0;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

@keyframes slide{
  from{top: -300px;}
  to{top: 0;}
}