:root {
  --grid-border-color: rgba(105, 20, 112, 0.726);
  --output-border-color: rgba(128, 128, 128, 0.849);
}

html,body {
  height: 100%;
  overflow: hidden;
}

body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: rgb(243, 250, 250);
}

div {
  text-align: center;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  text-align: right;
  margin-bottom: 1em;
}

h2 {
  font-size: .7em;
}

aside {
  position: absolute;
  align-self: flex-start;
  top: 200px;
  left: 50px;
}

footer {
  position: absolute;
  margin-top: 2.5em;
  margin-right: 2em;
  bottom: 25px;
  left: 25px;
  font-size: .4em;
}

#reset {
  width: 150px;
  height: 60px;
  font-size: .8em;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid var(--output-border-color);
  background-color: rgb(252, 252, 252);
}

.red, .black {
  background-image: url(platicTexture2.png);
  height: 65px;
  width: 64px;
  border-radius: 50%;
  margin-top: 4px;
  border: 1px solid rgba(114, 114, 114, 0.288);
  pointer-events: none;
  z-index: -1;
  position: relative;
  animation: slideIn .63s ease-out;
}

.red {
  background-color: rgb(221, 31, 31);
  background-image: url(redPiece.png);
  background-size: cover;
}

.black {
  background-color: rgb(36, 34, 34);
  background-image: url(blackPiece.png);
  background-size: cover;
}

#mousePiece {
  animation: none;
  box-shadow: -1px 2px 3px 1px rgba(187, 185, 187, 0.678);
}

.headerWrap {
  display: flex;
  height: 100%;
}

#flexWrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#columnWrapper {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 425px;
  width: 500px;
  border: solid 3px var(--grid-border-color);
  border-bottom: 4px solid var(--grid-border-color);
  border-radius: 10px;
  background-image: url('grid2.png');
  background-size: cover;
}

.column {
  margin: 0;
  border: 1px solid var(--grid-border-color);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.column:hover {
  background-color: rgba(173, 141, 173, 0.24);
}

#resetOutput {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winnerOutput {
  position: absolute;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 10px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.959);
  border: 3px solid var(--output-border-color);
  visibility: hidden;
}

@keyframes slideIn {
  from {
    top: -400px;
  }
  to {
    top: 0;
  }
}

@keyframes slideOut {
  from {
    bottom: 0;
  }
  to {
    bottom: -200%;
  }
}