.red, .black{
  height: 50px;
  width: 50px;
  max-width: 50px;
  border-radius: 50%;
  pointer-events: none;
  margin-top: .8px;
  position: relative;
  animation: slide .63s ease-out;

}

.red{
  background-color: red;
}
.black{
  background-color: black;
}

.flexWrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
table {
  height: 100%;
  max-height: 325px;
  min-height: 325px;
  width: 500px;
}
td {
  height: 100%;
  border: 1px solid black;
  max-width: 0px;
 
}
.colFlex{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

@keyframes slide{
  from{top: -300px;}
  to{top: 0;}
}